*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

*:focus{
    outline: none;
}

body{
    position: relative;
    background-color: rgb(26, 24, 24);
    font-family: Arial, sans-serif;
    
}

.menu-site{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #383838;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 2.5vw;
}

.hanburgue-btn{
    width: 20px;
    height: 10px;
    position: relative;
    cursor: pointer;    /*curso maosinha */
    background: rgb(133, 130, 130);
}
